<h1>Sign In!</h1>

<%= form_for :user, :url => login_path, :html => {:class => "form-group"} do |f| %>
  <%= f.text_field :name, :placeholder => if_flash(:name) || "Enter Your Name" %>
  <%= f.text_field :password, :placeholder => if_flash(:password) || "Enter Your Password" %>
  <%= f.submit "Log In" %>
<% end %>