
<%= render "/layouts/filter"%>
  <%=display_user_name %>
<div id="recipe-cards">
  <%= render(@recipes) || no_recipes %>
</div>  

<script type="text/x-handlebars-template" id="recipe-template">
  {{#recipes}}
  <div class="card">
    <div class="card-body">       
      <h5 class="card-title">
        <a href="/users/{{user.id}}/recipes/{{id}}" class = "js-user-recipe-link" data-recipe-id="{{id}}">{{title}}</a>
      </h5>
       <div class="category-tag">
        {{#categories}}
        <span class="category-tag">
          {{name}}
        </span>  
        {{/categories}}
       </div>
      <h6 class="card-subtitle mb-2 text-muted">Submitted by 
        <!-- To Do -> remove link from user index page -->
        <a href="/users/{{user.id}}/recipes/" class = "js-user-link">{{user.username}}</a> 
      </h6>
      <em>Approximate Cook Time: {{time}} Min</em><br>
      {{description}}
    </div>
  </div>    
  <br> 
  {{/recipes}}
</script>
 