<h1>Sign Up!</h1>

<%= form_for @user do |f| %>
  <%= f.text_field :name, :placeholder => "Enter Your Name" %>
  <%= f.text_field :password, :placeholder => "Enter Your Password" %>
  <%= f.submit "Create Your Account" %>
<% end %>