nav {
  border-bottom: 2px solid rgba(0,0,0,20);
  margin-bottom: 10px;
}
div.navbar-header {
  display:flex;
  flex: none;
  justify-content: space-between;
  align-content: space-around;
  width: 80%;
  margin:auto;
}