// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#recipe_cards {
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  flex: none;
  justify-content: space-between;
  align-content: space-around;
}

.card {
  border:  .5px solid rgb(45, 45, 45);
  padding: 10px;
  width: 18em;
  margin: 1em;

}
.card-body{
  padding: 1rem;
}

h5 {
  margin-bottom: 0;
}

.card-title {
   margin-bottom: 0;
}

// .card-title{
//   margin-bottom: 0;    
// }

span.category-tag {
  font-size: .75em;
}
div.category-tag{
  margin-bottom: .75rem
}

div.category-checkbox{
  display:inline-block;
  // align-content: flex-start;
}

div.edit-form-section{
  margin-bottom: .75rem;
  
  label{
      margin-bottom:0;
  }
}
div h1{
  text-align: center;
}
div.no-recipes{
  margin: 20px auto;
}

div.first-row{
  display: flex;
  justify-content: space-between; 
  div{
    width: 48%;
  }
}

div#filter {
  margin: 21px 0 8px 0;
}

